<div class="bootstrap-wrapper">
  <div class="container-fluid mt20">
    <div class="row">
      <div class="col-md-6" >
        <div class="card image-container p-3">
          <img [src]="product.productImages[selectedProductIndex].url" class="image-zone">
        </div>
          <div class="mt-2">
            <mat-grid-list cols="3" gutterSize="10" rowHeight="1:1">
              <mat-grid-tile *ngFor="let file of product.productImages;let i = index;" (click)="changeIndex(i)" style="border: 1px solid lightgray">
                <img [src]="file.url" class="img-fluid" height="150px" width="150px">
              </mat-grid-tile>
            </mat-grid-list>
          </div>
      </div>
      <div class="col-md-6">
        <div class="product-information">
          <div class="mt10" >
            <h3 style="font-size: 30px">{{product.title}}</h3>
          </div>
          <div class="a mt10" >
            <b style="color:red;">{{product.discountPrice | currency: 'VND'}}<b style="text-decoration: underline">đ</b></b> &nbsp;&nbsp;&nbsp; <b style="text-decoration: line-through;color: #aaaaaa">{{product.price | currency: 'VND'}}<b style="text-decoration: underline">đ</b></b>
          </div>
          <div class="mt20 text-center">
            <button mat-raised-button color="warn" (click)="buyProduct(product.pId)">Buy Now</button>
            <button mat-raised-button color="primary" (click)="addToCart(product.pId)" class="ml10">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
