.product-information {
  font-size: 20px;
}
.image-container{
  height: 400px;
  position: relative;
}
.image-zone{
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/*a {*/
/*  font-size: 150%;*/
/*}*/
