<mat-card>

  <h1 class="mt10">Add New Manufacturer</h1>

  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form #manufacturerForm="ngForm" (ngSubmit)="formSubmit(manufacturerForm)">
            <mat-form-field appearance="outline" class="w100">
              <mat-label>Title</mat-label>
              <input [(ngModel)]="manufacturer.title" autofocus matInput name="title" placeholder="Enter Here" required
                     type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w100">
              <mat-label>Description</mat-label>
              <textarea [(ngModel)]="manufacturer.description" matInput name="description"
                        placeholder="Enter Category Description" rows="15"
                        type="text"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w100 mt10">
              <mat-label>Categories</mat-label>
              <mat-select [(ngModel)]="manufacturer.category.cId" name="category">
                <mat-option *ngFor="let item of categories" [value]="item.cId">
                  {{item.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="container mt15 text-center">
              <button type="submit" color="primary" mat-raised-button>Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

