<div class="container mt20">
  <div class="card p-3">
    <div class="row">
      <div class="col-6">
        <form #oderForm="ngForm" (ngSubmit)="placeOder(oderForm)">
          <mat-form-field appearance="fill" class="w100">
            <mat-label>Full Name</mat-label>
            <input [(ngModel)]="orderDetails.fullName" required matInput name="fullName" placeholder="Enter Here" type="text">
          </mat-form-field>
          <mat-form-field appearance="fill" class="w100">
            <mat-label>Full Address</mat-label>
            <input [(ngModel)]="orderDetails.fullAddress" required matInput name="fullAddress" placeholder="Enter Here" type="text">
          </mat-form-field>
          <mat-form-field appearance="fill" class="w100">
            <mat-label>contactNumber</mat-label>
            <input [(ngModel)]="orderDetails.contactNumber" required matInput name="contactNumber" placeholder="Enter Here" type="text">
          </mat-form-field>
          <mat-form-field appearance="fill" class="w100">
            <mat-label>alternateContact</mat-label>
            <input [(ngModel)]="orderDetails.alternateContact" required matInput name="alternateContact" placeholder="Enter Here" type="text">
          </mat-form-field>

          <div class="text-center">
            <button type="submit" mat-stroked-button color="primary">Place Oder</button>
          </div>
          </form>
      </div>
      <div class="col-6">
        <table class="table">
          <thead class="thead">
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody class="tbody">
              <tr *ngFor="let product of productDetails">
                <td>{{product.title}}</td>
                <td>{{product.discountPrice}}</td>
                <td>
                  <select
                    #quantity
                    (change)="onQuantityChanged(quantity.value, product.pId)"
                    class="form-select" [ngModel]="getQuantityForProduct(product.pId)">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </td>
                <td>{{getCalculatedProduct(product.pId, product.discountPrice)}}</td>
              </tr>

              <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>{{getCalculatedGrandTotal()}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
