<mat-card>
  <mat-action-list>
    <div matSubheader>Available Categories</div>
    <button mat-list-item routerLink="/client-dashboard/">
      <mat-icon mat-list-icon>home</mat-icon>
      All Product
    </button>
    <button [routerLink]="'/user-dashboard/profile'" mat-list-item>
      <mat-icon mat-list-icon>account_circle</mat-icon>
      Profile
    </button>
    <button *ngFor="let item of manufacturers" [routerLink]="'/client-dashboard/'+ item.mId" mat-list-item>
      <mat-icon mat-list-icon>account_circle</mat-icon>
      {{item.title}}
    </button>
  </mat-action-list>
</mat-card>
