<mat-card>
  <div class="container">
    <div class="row  text-center">
      <div class="col-md-8 offset-md-3 ">
            <div class="d-flex form-inputs ">
              <input class="form-control w100"
                     name="searchKey" id="searchKey"
                     #searchKeyword
                     (keyup)="searchByKeyword(searchKeyword.value)"
                     type="text" placeholder="Search any product...">
              <button mat-flat-button  class="test" >
                <mat-icon mat-list-icon>search</mat-icon>
              </button>
              </div>
        </div>
    </div>
  </div>
</mat-card>


  <div class="bootstrap-wrapper">
    <div class="container-fluid mt20">
      <div class="row" *ngIf="productDetails">
        <div class="col-md-2">
          <app-sidebar-user></app-sidebar-user>
        </div>
        <div class="col-md-10">
          <mat-grid-list cols="4" rowHeight="2:3" gutterSize="10">
            <mat-grid-tile *ngFor="let product of productDetails">
              <div class="row home-page-product-image">
                <img src="{{product.images}}" class="img-fluid" style="margin-left: auto;margin-right: auto"  height="200px">
                <div class="mt10">
                  <p><b>{{product.title}}</b></p>
                </div>
                <div class="mt10">
                  <p style="white-space: inherit;height: 40px;width: 288px;overflow: hidden; word-wrap: break-word; text-overflow: ellipsis;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                </div>
                <div class="mt20">
                  <b>{{product.discountPrice | currency: 'VND'}}</b> &nbsp;  <b style="text-decoration: line-through">{{product.price | currency: 'VND'}}</b>
                </div>
                <div class="mt10 text-center">
                  <button mat-raised-button color="primary" (click)="showProductDetails(product.pId)">View Details</button>
                </div>
              </div>

            </mat-grid-tile>

          </mat-grid-list>
          <div class="mt20">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <button class="page-link"  (click)="previous()" [disabled]="pageNumber == 0"  aria-label="Previous">
                    <span aria-hidden="true">&laquo; Previous</span>
                  </button>
                </li>

                <li class="page-item text">
                  <button class="page-link" (click)="loadMoreProduct()"  aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--<footer>-->
<!--  <app-footer></app-footer>-->
<!--</footer>-->





