<!-- <mat-card *ngFor="let item of product" class="mt20">
    <mat-card-header>
      <img src="{{item.images}}" style="width: 20px; height: 28px;" class="images-fluid">
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-subtitle>{{item.category.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{item.description}}</mat-card-content>
    <mat-card-content>Gia tien: {{item.price}} VND</mat-card-content>
    <mat-card-content>Giam gia: {{item.discountPrice}} VND</mat-card-content>
    <mat-card-actions>
      <button [routerLink]="'/admin/view-question/'+item.qId+'/'+item.title" color="primary" mat-flat-button>Details
      </button>
      <button class="ml20" color="primary" mat-stroked-button>Max Marks: {{item.maxMarks}}</button>
      <button class="ml20" color="primary" mat-stroked-button>Question: {{item.numberOfQuestion}}</button>
      <button [routerLink]="'/admin/product/'+item.pId" class="ml20" color="primary" mat-flat-button>Update</button>
      <button (click)="delete(item.pId)"  class="ml20" color="warn" mat-flat-button>Delete</button>
    </mat-card-actions>
  </mat-card>

  <div class="container text-center mt20">
    <button color="primary" mat-raised-button routerLink="/admin/add-product">Add New Product</button>
  </div>
   -->
   <div class="mt10">
     <mat-form-field appearance="outline" class="full-width w-50">
       <mat-label>Search any product</mat-label>
       <input #searchKeyword
              (keyup)="searchByKeyword(searchKeyword.value)" matInput name="searchKey" placeholder="Enter Here" required
              type="text">
       <span class="focus-input100"></span>
     </mat-form-field>
     <div *ngIf="showTable">
       <table mat-table [dataSource]="productDetails" class="mat-elevation-z8 mt20">

         <!--- Note that these columns can be defined in any order.
               The actual rendered columns are set as a property on the row definition" -->

         <!-- Position Column -->
         <ng-container matColumnDef="Id">
           <th mat-header-cell *matHeaderCellDef> Id </th>
           <td mat-cell *matCellDef="let element"> {{element.pId}} </td>
         </ng-container>

         <!-- Name Column -->
         <ng-container matColumnDef="Product Name">
           <th mat-header-cell *matHeaderCellDef> Product Name </th>
           <td mat-cell *matCellDef="let element"> {{element.title}} </td>
         </ng-container>

         <!-- Weight Column -->
         <ng-container matColumnDef="Product ActualPrice">
           <th mat-header-cell *matHeaderCellDef> Product ActualPrice </th>
           <td mat-cell *matCellDef="let element"> {{element.price}} </td>
         </ng-container>

         <!-- Symbol Column -->
         <ng-container matColumnDef="Product DiscountPrice">
           <th mat-header-cell *matHeaderCellDef> Product DiscountPrice </th>
           <td mat-cell *matCellDef="let element"> {{element.discountPrice}} </td>
         </ng-container>
         <!-- images Column -->
         <ng-container matColumnDef="Actions">
           <th mat-header-cell *matHeaderCellDef> Actions </th>
           <td mat-cell *matCellDef="let element">
             <button mat-icon-button color="primary" (click)="openImages(element)">
               <mat-icon>images</mat-icon>
             </button>
             <button mat-icon-button  color="primary" (click)="editProductDetails(element.pId)">
               <mat-icon>edit</mat-icon>
             </button>
             <button mat-icon-button color="warn" (click)="delete(element.pId)">
               <mat-icon>delete</mat-icon>
             </button>
           </td>
         </ng-container>
         <!-- edit Column -->


         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
     </div>
     <div class="text-center mt20" *ngIf="showLoadMoreProduct">
       <button type="button" (click)="loadMoreProduct()" mat-raised-button color="primary">Load More</button>
     </div>
   </div>



