.example-header-image {
    background-image: url('https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/t/_/t_m_12.png');
    background-size: cover;
  }
  table {
    width: 100%;
  }