
<footer class="footer-03">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4 abc">
            <a class="footer-heading  ">Giới thiệu về công ty</a> &nbsp;
            <a class="footer-heading ">Giới thiệu về công ty</a>&nbsp;
            <a class="footer-heading ">Giới thiệu về công ty</a>&nbsp;
            <a class="footer-heading ">Giới thiệu về công ty</a>&nbsp;
            <a class="footer-heading ">Giới thiệu về công ty</a>&nbsp;
<!--            <ul class="list-unstyled">-->
<!--              <li><p  class="py-1 d-block">Gọi mua: 1800.1060 (7:30 - 22:00)</p></li>-->
<!--              <li><a  class="py-1 d-block">Kỹ thuật: 1800.17633 (7:30 - 22:00)</a></li>-->
<!--              <li><a  class="py-1 d-block">Khiếu nại: 1800.1062 (8:00 - 21:30)</a></li>-->
<!--              <li><a  class="py-1 d-block">Bảo hành: 1800.1064 (8:00 - 21:00)</a></li>-->
<!--            </ul>-->
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <b class="footer-heading">Tổng đài hỗ trợ </b> <p>(Miễn phí gọi)</p>

            <ul class="list-unstyled">
              <li><p  class="py-1 d-block">Gọi mua: 1800.1060 (7:30 - 22:00)</p></li>
              <li><p class="py-1 d-block">Kỹ thuật: 1800.17633 (7:30 - 22:00)</p></li>
              <li><p  class="py-1 d-block">Khiếu nại: 1800.1062 (8:00 - 21:30)</p></li>
              <li><p  class="py-1 d-block">Bảo hành: 1800.1064 (8:00 - 21:00)</p></li>
            </ul>
          </div>
          <div class="col-md-6 mb-md-0 mb-4">
            <b class="footer-heading">Tổng đài hỗ trợ </b> <p>(Miễn phí gọi)</p>
            <ul class="list-unstyled">
              <li><p href="#" class="py-1 d-block">Gọi mua: 1800.1060 (7:30 - 22:00)</p></li>
              <li><a href="#" class="py-1 d-block">Kỹ thuật: 1800.17633 (7:30 - 22:00)</a></li>
              <li><a href="#" class="py-1 d-block">Khiếu nại: 1800.1062 (8:00 - 21:30)</a></li>
              <li><a href="#" class="py-1 d-block">Bảo hành: 1800.1064 (8:00 - 21:00)</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row justify-content-end">
          <div class="col-md-12 col-lg-11 mb-md-0 mb-4">
            <h2 class="footer-heading">Follow Us</h2>
            <ul class="ftco-footer-social p-0">
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="ion-logo-twitter"><i class="fab fa-twitter"></i></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"><i class="fab fa-facebook"></i></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"><i class="fab fa-instagram"></i></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><span class="ion-logo-linkedin"><i class="fab fa-linkedin-in"></i></span></a></li>
            </ul>
            <h2 class="footer-heading mt-5">Subscribe Us</h2>
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control rounded-left" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="form-control submit px-3 rounded-right">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-12 ">

        <div class="fs-ftbott">© 2007 - 2022 Công Ty Cổ Phần Bán Lẻ Kỹ Thuật Số FPT / Địa chỉ: 261 - 263 Khánh Hội, P2, Q4, TP. Hồ Chí Minh / GPĐKKD số 0311609355 do Sở KHĐT TP.HCM cấp ngày 08/03/2012. GP số 47/GP-TTĐT do sở TTTT TP HCM cấp ngày 02/07/2018. Điện thoại: (028)73023456. Email: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="791f090d0a111609391f090d571a1614570f1757">[email&#160;protected]</a> Chịu trách nhiệm nội dung: Nguyễn Trịnh Nhật Linh.</div>
      </div>
<!--      <div class="col-md-6 col-lg-4 text-md-right">-->
<!--        <p class="mb-0 list-unstyled">-->
<!--          <a class="mr-md-3" href="#">Terms &amp; Conditions</a>-->
<!--          <a class="mr-md-3" href="#">Privacy</a>-->
<!--        </p>-->
<!--      </div>-->
    </div>
  </div>
</footer>
