<mat-toolbar color="primary">
    <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button routerLink="/client-dashboard/0">
      <mat-icon>storefront</mat-icon>
      <span class="ml10">Shop ABC</span>
    </button>
    <span class="example-spacer"></span>
    <button *ngIf="!isLoggedIn" [routerLink]="'/login'" aria-label="Example icon-button with heart icon"
       class="example-icon favorite-icon mr20 m120"
       mat-icon-button
       routerLinkActive="active">Login

    </button>
    <button *ngIf="!isLoggedIn" [routerLink]="'/signup'" aria-label="Example icon-button with share icon"
       class="example-icon mr10"
       mat-icon-button
       routerLinkActive="active">Register
    </button>


    <button *ngIf="isLoggedIn && user" aria-label="Example icon-button with share icon" class="example-icon mr20"
            mat-icon-button
            routerLink="/myOrders"
            style="margin-right: 50px">{{user.username}}
    </button>


    <mat-action-list>
      <button *ngIf="isLoggedIn && isAmin()" routerLink="/cart" mat-list-item>
        <mat-icon mat-list-icon>shopping_cart</mat-icon>
      </button>
    </mat-action-list>

    <button (click)="logout()" *ngIf="isLoggedIn" aria-label="Example icon-button with share icon" class="example-icon mr10"
       mat-icon-button>LogOut
    </button>
  </mat-toolbar>
