<div class="container-fluid mt20">
  <mat-button-toggle-group  aria-label="Font Style">
    <mat-button-toggle  value="All" (click)="getAllOrderDetails('All')">All</mat-button-toggle>
    <mat-button-toggle value="Placed" (click)="getAllOrderDetails('Placed')">Placed</mat-button-toggle>
    <mat-button-toggle value="Delivered" (click)="getAllOrderDetails('Delivered')">Delivered</mat-button-toggle>
    <mat-button-toggle value="Cancel" (click)="getAllOrderDetails('Cancel')">Cancel</mat-button-toggle>
  </mat-button-toggle-group>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt10">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.oderId}} </td>
    </ng-container>
    <ng-container matColumnDef="ProductName">
      <th mat-header-cell *matHeaderCellDef> ProductName </th>
      <td mat-cell style="white-space: inherit;height: 40px;width: 288px;overflow: hidden; word-wrap: break-word; text-overflow: ellipsis;" *matCellDef="let element"> {{element.product.title}} </td>
    </ng-container>
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.user.fullName}} </td>
    </ng-container>
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.oderFullOder}} </td>
    </ng-container>
    <ng-container matColumnDef="Contact">
      <th mat-header-cell *matHeaderCellDef> Contact </th>
      <td mat-cell *matCellDef="let element"> {{element.oderContactNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.oderStatus}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
