<mat-card>
    <h1>Add New Product</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">

          <form #productForm="ngForm" (ngSubmit)="addSubmit(productForm)">
            <mat-form-field appearance="fill" class="w100">
              <mat-label>Enter Title</mat-label>
              <input [(ngModel)]="product.title" matInput name="title" placeholder="Enter Here" type="text">
            </mat-form-field>

            <mat-form-field appearance="fill" class="w100">
              <mat-label>Enter description</mat-label>
              <textarea [(ngModel)]="product.description" matInput name="description" placeholder="Enter Here"
                        rows="5" type="text"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w100">
                <mat-label>Link imagesMain</mat-label>
                <input [(ngModel)]="product.images" matInput name="images" placeholder="Enter Here"
                          rows="5" type="text">
              </mat-form-field>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>price</mat-label>
                  <input [(ngModel)]="product.price" matInput name="price" placeholder="Enter Here"
                         type="text">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="w100">
                  <mat-label>discountPrice</mat-label>
                  <input [(ngModel)]="product.discountPrice" matInput name="discountPrice"
                         placeholder="Enter Here" type="text">
                </mat-form-field>
              </div>
            </div>
            <mat-slide-toggle
              [(ngModel)]="product.active"
              [checked]="false"
              class="mt10"
              color="accent"
              name="active">
              Publish status
            </mat-slide-toggle>
            <br>
            <!--          category select-->
            <mat-form-field appearance="fill" class="w100 mt10">
              <mat-label>Manufacturer</mat-label>
              <mat-select [(ngModel)]="manufacturers[0].mId" name="manufacturer">
                <mat-option *ngFor="let item of manufacturers" [value]="item.mId">
                  {{item.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="container text-center">
              <button color="primary" *ngIf="isNewProduct" type="submit" mat-raised-button>Add</button>
            </div>
            <div class="container text-center">
              <button color="primary" *ngIf="!isNewProduct" type="submit" mat-raised-button>Update</button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div>
            <!-- <div class="dropzone"
            appDrag
            (files)="fileDropped($event)"
            >
              <div class="text-wrapper">
                <div class="text-center">
                Drag and drop your file or
                <a (click)="selectFile.click()" class="browse-button">browse</a>
                a file
                </div>
              </div>
            </div> -->
            <input type="file" multiple value="select" #selectFile
          (change)="onFileSelected($event)">

          </div>
          <br>
          <div class="mt10">
            <div class="row aabc">
               <!-- <mat-grid-list *ngFor="let file of product.productImages" cols="4" rowHeight="1:1">
                <mat-grid-tile >
                  <div style="position: relative">
                      <img [src]="file.url" width="100px" height="100px">
                  </div>
                </mat-grid-tile>
              </mat-grid-list> -->

                <div *ngFor="let file of product.productImages; let i = index">
                  <div class="title">
                    <div style="position: relative">
                      <span class="btn-remove-image" (click)="removeImage(i)">x</span>
                      <img  [src]="file.url" width="100px" height="100px">
                  </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>

